body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #444444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
ul {
  font-size: .8rem;
  padding: 0;
  margin: 0;
}

ul {
  margin-left: 1rem;
}

input {
  display: block;
  width: 100%;
  margin-bottom: .3rem;
}

.app {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.app__column {
  flex: 0 0 33%;
  box-sizing: border-box;
  padding: 0 1rem;
  background-color: white;
  border-radius: 3px;
}

.employee,
.project {
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 1rem;
}

.employee + .employee,
.project + .project {
  margin-top: 1rem;
}

.spacedContainer {
  padding-top: 1rem;
}